body{
    background-color: aliceblue;
    padding-left: 0.6em;
}
.item1{
    font-family: 'Doto', sans-serif;
    font-size: 30px;
}
.item2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #9bf58f;
}
.item3{
    padding-left: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
section{
    margin-bottom: 1.5em;
}